__pycache__/
*.csv
*.egg
*.egg-info
*.py[co]
*.so
*.swp
.DS_Store
.env
.env.example
.idea
.ipynb_checkpoints
.tox
.venv
npm-debug.log
yarn-error.log
.mypy_cache
.pytest_cache
build-with-ai-sri-lanka-firebase-adminsdk-fbsvc-b857c2e764.json
venv
venv/*